<div class="boxing">
<div class="container">
  <div class="row">
    <div class="col-12">
      <img class="imagen-blog" src="../../../assets/carrusel 2.png" alt="" srcset="">
    </div>
    <div class="col-12">
      <h1>Chrysalis dictará talleres para postular al Capital Semilla de Corfo</h1>
      <p>Como parte de su propuesta de valor y servicio integral, Chrysalis, la Incubadora de Negocios de la PUCV, ofrecerá a la comunidad de emprendedores un ciclo de talleres para orientar en la postulación al fondo Capital Semilla de Corfo que entrega financiamiento por hasta 25 millones de pesos. Recordemos que el Capital Semilla de Corfo busca fomentar la creación y puesta en marcha de nuevos emprendimientos dinámicos.</p>
      <h5>Pueden postular:</h5>
      <h5>
          Actividades financiables:
      </h5>
       <p>
          Si quieres participar de estos talleres, manda un correo al ejecutivo Sebastián Arriagada (sebastian@chrysalis.cl) con tu resumen de proyecto, quien evaluará y se comunicará contigo a la brevedad
       </p>   
           
          
    </div>
  </div>
</div>

</div>