<div class="header-pri">
 <div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#"><img src="../../../assets/Group.png" width="100" alt="" srcset=""></a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="../../../assets/profile.png"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">María 
            <strong>González</strong>
          </span>
          <span class="user-role">Gasfiter</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>

      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder=".Buscar...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>Menú</span>
          </li>
          <li class="sidebar-dropdown">
            <a class="fondo">
              <i class="fas fa-file-alt"></i>
              <span>Mi CV</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fas fa-user-tag"></i>
              <span>Busca tu Oportunidad</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="far fa-gem"></i>
              <span>Ofrece Oportunidades</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a  routerLink="opportunities">
              <i class="fa fa-globe"></i>
              <span>Tips y consejos</span>
              <span class="badge badge-pill badge-danger">3</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fas fa-fire"></i>
              <span>Quiero Emprender</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
              <a href="#">
                <i class="fas fa-fire"></i>
                <span>Quienes Somos</span>
              </a>
            </li>
        </ul>
      </div>
    </div>
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
       
      </a>
    </div>
  </nav>
<div class="logo">
  <img src="../../../assets/logo.png" alt="">
</div>
</div>
