<div class="boxing">
  <div class="card-columns">
    <div class="card">
      <img src="../../../assets/foto1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">¿Cuánto cobrar por mi trabajo? </h5>
        <p class="card-text">Sabemos que hay demasiados rubros que abordar, pero aquí te enseñaremos a cobrar correctamente por tu trabajo ...
        </p>
        <button class="btn btn-primary">Ver más</button>
      </div>
    </div>
    <div class="card p-3">
      <blockquote class="blockquote mb-0 card-body">
        <p>Sabemos lo difícil que es lograr que un proyecto salga a flote...</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Por eso, te explicamos como no frustarte en el camino..
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <img src="../../../assets/foto2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">La desigualdad laboral</h5>
        <p class="card-text">Un tema que afecta en mayor parte a las mujeres.</p>
        <button class="btn btn-primary">Ver más</button>
      </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
      <blockquote class="blockquote mb-0">
        <p>Muchas veces hemos cometido estos errores en entrevistas.</p>
        <footer class="blockquote-footer text-white">
          <small>
            Pero nunca más! ahora sabrás como engrentar una con éxito.
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Seguridad Laboral</h5>
        <p class="card-text">leyes que te apoyan como trabajador</p>
        <button class="btn btn-primary">Ver más</button>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/carrusel 3.png" class="card-img-top" alt="..." />
    </div>
    <div class="card p-3 text-right">
      <blockquote class="blockquote mb-0">
        <div class="card-body">
          <h5 class="card-title">Capital Semilla</h5>
          <p class="card-text">¿Cómo lograrlo? Aquí te lo explicamos.</p>
          <a href="jobs" class="btn btn-primary">Ver más</a>
        </div>
      </blockquote>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Conocimientos básicos de contabilidad</h5>
        <p class="card-text">¿Necesitas administrar bien tu emprendimiento?</p>
        <button class="btn btn-primary">Ver más</button>
      </div>
    </div>
  </div>
</div>
